{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div>
        <h1 style="text-align: center">Profil de {{ user.nom }}</h1>

        <div class="profile">
            <div class="pdp">
                <img src="{{ asset('upload/photos/' ~ user.photo) }}" alt="Photo indisponible">
            </div>

            <section class="display">

                <div>
                    <p>Prénom : {{ user.prenom }}</p>
                </div>
                <div>
                    <p>Nom : {{ user.nom }}</p>
                </div>
                <div>
                    <p>Telephone : {{ user.telephone }}</p>
                </div>
                <div>
                    <p>Email : {{ user.email }}</p>
                </div>

                {% if is_granted("ROLE_ADMIN") %}
                    <div>
                        <button>
                            Rendre inactif
                        </button>
                        <button>
                            Supprimer l'utilisateur
                        </button>
                    </div>


                {% endif %}
                
            </section>
        </div>
    </div>


{% endblock %}