{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Profil de {{ user.nom }}</h1>

    <div class="container">
        <section>
            todo: img
            <p>Prénom : {{ user.prenom }}</p>
            <p>Nom : {{ user.nom }}</p>
            <p>Telephone : {{ user.telephone }}</p>
            <p>Email : {{ user.email }}</p>
        </section>
    </div>


{% endblock %}