{% extends '/base.html.twig' %}

{% block title %}{{ parent () }} | Accueil{% endblock %}


{% block body %}
    <div>
        {{ form_start(mainForm) }}
        <div class="container">
            <div class="lieu">
                {{ form_row(mainForm.siteOrganisateur)}}
                {{ form_row(mainForm.searchName)}}
                    <div class="date">
                        {{ form_row(mainForm.dateDebut)}}
                        {{ form_row(mainForm.dateFin)}}
                    </div>
            </div>
            <div class="col">
                {{ form_row(mainForm.isOrganisateur)}}
                {{ form_row(mainForm.isInscrit)}}
                {{ form_row(mainForm.isNotInscrit)}}
                {{ form_row(mainForm.isPassed)}}
            </div>
            <div class="search">
                {{ form_row(mainForm.search)}}

            </div>
        </div>


    </div>
    <div class="tab_sorties">
        <table>
            <thead>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Etat</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
            </thead>
            {% for sortie in mesSorties %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateHeureDebut|date("d/m/Y h:i")  }}</td>
                    <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                    <td>{{ sortie.inscriptions|length }}/{{  sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>
                    <td>
                        {% set tempInscrit = false %}
                        {%  for inscrit in sortie.inscriptions %}
                            {% if  app.user  ==  inscrit.estInscrit  %}
                                X
                                {% set tempInscrit = true %}
                            {%  endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{{ path('profile_display',{'id': sortie.organisateur.id}) }}"
                           title="afficher le détail de l'organisateur">{{ sortie.organisateur.email }}</a>
                    </td>
                    <td>
                        {% if tempInscrit %}
                            {% if (sortie.etat.id == 2) or (sortie.etat.id == 3)  %}
                                <a href="{{ path('sortie_desist',{'id': sortie.id}) }}"
                                   title="annuler son inscription à la sortie">Se désister</a>
                            {% endif %}
                        {% else %}
                            {% if (sortie.etat.id == 2)  %}
                                <a href="{{ path('sortie_register',{'id': sortie.id}) }}"
                                   title="s'inscrire à la sortie">S'inscrire</a>
                            {% endif %}
                        {% endif %}
                        {% if app.user ==sortie.organisateur %}
                            {% if (sortie.etat.id == 1)  %}
                                <a href="{{ path('sortie_create',{'id': sortie.id}) }}"
                                   title="modifier la sortie">Modifier</a>
                                <a href="{{ path('sortie_publish',{'id': sortie.id}) }}"
                                   title="publier la sortie">Publier</a>
                                <a href="{{ path('sortie_delete',{'id': sortie.id}) }}"
                                   title="supprimer la sortie">Supprimer</a>
                            {% endif %}
                            {% if (sortie.etat.id == 2) or (sortie.etat.id == 3)  %}
                                <a href="{{ path('sortie_delete',{'id': sortie.id}) }}"
                                   title="supprimer la sortie">Supprimer</a>
                            {% endif %}
                        {% endif %}
                        {% if (sortie.etat.id != 1 and (sortie.dateHeureDebut|date_modify("+30 day") > maintenant) )  %}
                            <a href="{{ path('sortie_details',{'id': sortie.id}) }}"
                               title="afficher le détail de la sortie">Afficher</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="tab_sorties_mini">
            <h2>Mes sorties :</h2>
            <table>
                <thead>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Lieu</th>

                </thead>

                <tbody>
                {% for sortie in mesSorties %}
                    <tr>
                        <td><a href="{{ path('sortie_details',{'id': sortie.id}) }}">{{ sortie.nom }}</a></td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/Y h:i")  }}</td>
                        <td>{{ sortie.lieu.nom  }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="create">
        {{ form_end(mainForm) }}
    </div>

{% endblock %}
