{% extends '/base.html.twig' %}

{% block title %}{{ parent () }} | Accueil{% endblock %}


{% block body %}
    <div>
        {{ form_start(mainForm) }}
        <div class="container">
            <div class="lieu">
                {{ form_row(mainForm.siteOrganisateur)}}
                {{ form_row(mainForm.searchName)}}
                    <div class="date">
                        {{ form_row(mainForm.dateDebut)}}
                        {{ form_row(mainForm.dateFin)}}
                    </div>
            </div>
            <div class="col">
                {{ form_row(mainForm.isOrganisateur)}}
                {{ form_row(mainForm.isInscrit)}}
                {{ form_row(mainForm.isNotInscrit)}}
                {{ form_row(mainForm.isPassed)}}
{#                {{ form_row(mainForm.etat) }}#}
            </div>
            <div class="search">
                {{ form_row(mainForm.search)}}

            </div>
        </div>
        <div class="tab_sorties">
            <table>
                <thead>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </thead>
                {% for sortie in mesSorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut|date("d/m/Y h:i")  }}</td>
                        <td>{{ sortie.dateLimiteInscription|date("d/m/Y") }}</td>
                        <td>{{ sortie.inscriptions|length }}/{{  sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>X</td>
                        <td>{{ sortie.organisateur.email }}</td>
{#                        <td>{{ sortie.inscrit }}</td>#}
                        <td>todo</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="container">
            {{ form_row(mainForm.create)}}
        </div>


        {{ form_end(mainForm) }}
    </div>
{% endblock %}
