{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}

{% block body %}
    <div>
        {{ form_start(sortieForm) }}

        {{ form_widget(sortieForm) }}

        <button>Enregistrer</button>
        <button>Publier la sortie</button>
        <button>Annuler</button>

        {{ form_end(sortieForm) }}

        {% if sortie.lieu != null  %}
            <p>Rue : {{ sortie.lieu.rue }}</p>
            <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
            <p>Latitude : {{ sortie.lieu.latitude }}</p>
            <p>Longitude : {{ sortie.lieu.longitude }}</p>
        {% endif %}


    </div>

    <script>
        let $ville = $('#sortie_ville');
     console.log($ville);
        $ville.change(function() {

            let $form = $(this).closest('form');

            let data = {};
            data[$ville.attr('name')] = $ville.val();

            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                alert('passe');
                complete: function(html) {
                    $('sortie_lieu').replaceWith(
                        $(html.responseText).find('#sortie_lieu')
                    );
                }

            });
        });
    </script>
{% endblock %}
