{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}

{% block body %}
    <div>
        {{ form_start(sortieForm) }}

        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.infosSortie) }}
        <div>Campus : {{ app.user.estRattacheA.nom }}</div>
        {{ form_row(sortieForm.ville) }}
        <div class="ajout_lieu">
            {{ form_row(sortieForm.lieu) }}
            <a href="{{ path('lieu_ajout') }}"><img src="{{ asset('images/img_ajout_lieu.png') }}" alt="signe + pour ajout lieu"></a>
        </div>
        <div class="affichage">

        </div>

        <button>Enregistrer</button>
        <button>Publier la sortie</button>
        <button>Annuler</button>

        {{ form_end(sortieForm) }}

    </div>

    <script>
        let $ville = $('#sortie_ville');

        $ville.change(function() {

            let $form = $(this).closest('form');

            let data = {};
            data[$ville.attr('name')] = $ville.val();

            $.ajax({
                url : $form.attr('action'),
                type : $form.attr('method'),
                data : data,
                complete: function(html) {
                    $('#sortie_lieu').replaceWith(
                        $(html.responseText).find('#sortie_lieu')
                    );
                },
            });

            let url = 'http://127.0.0.1:8000/sortie/ville/' + $ville.val();
            $.ajax({
                url: url,
                method: "GET",
                complete: function (response){
                    let nouveauCodePostal = $("<div></div>");
                    nouveauCodePostal.text('Code postal : ' + response.responseJSON.codePostal);
                    //nouveauCodePostal.addClass("codePostal");
                    nouveauCodePostal.prependTo($(".affichage"));
                }
            });
        });

        $(document).on('change', '#sortie_lieu', function() {

            let $lieu = $('#sortie_lieu');
            let $id = $lieu.val();

            let url = 'http://127.0.0.1:8000/sortie/lieu/' + $id;

            $.ajax({
                url: url,
                method: "GET",
                complete: function (response){
                    let rueReturn = 'Rue : ' + response.responseJSON.rue;
                    let latitudeReturn = 'Latitude : ' + response.responseJSON.latitude;
                    let longitudeReturn = 'Longitude : ' + response.responseJSON.longitude;

                    let nouvelleRue = $("<div></div>");
                    nouvelleRue.text(rueReturn);
                    nouvelleRue.prependTo($(".affichage"));

                    let nouvelleLatitude = $("<div></div>");
                    nouvelleLatitude.text(latitudeReturn);
                    nouvelleLatitude.appendTo($(".affichage"));

                    let nouvelleLongitude = $("<div></div>");
                    nouvelleLongitude.text(longitudeReturn);
                    nouvelleLongitude.appendTo($(".affichage"));
                }
            });
        });

    </script>
{% endblock %}
