{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}

{% block body %}
    <div>
        {{ form_start(sortieForm) }}

        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.infosSortie) }}
        <div>Campus : {{ app.user.estRattacheA.nom }}</div>
        {{ form_row(sortieForm.ville) }}
        <div class="ajout_lieu">
            {{ form_row(sortieForm.lieu) }}
            <a href="{{ path('lieu_ajout') }}"><img src="{{ asset('images/img_ajout_lieu.png') }}" alt="signe + pour ajout lieu"></a>
        </div>
        <div class="affichageCoordoner">

        </div>

        <button>Enregistrer</button>
        <button>Publier la sortie</button>
        <button>Annuler</button>

        {{ form_end(sortieForm) }}

    </div>

    <script>
        let $ville = $('#sortie_ville');
        let $firstPassageVille = true;
        let $firstPassageLieu = true;

        $ville.change(function() {

            console.log('entrée change ' + $firstPassageVille);

            let $form = $(this).closest('form');

            let data = {};
            data[$ville.attr('name')] = $ville.val();

            $.ajax({
                url : $form.attr('action'),
                type : $form.attr('method'),
                data : data,
                complete: function(html) {
                    $('#sortie_lieu').replaceWith(
                        $(html.responseText).find('#sortie_lieu')
                    );
                },
            });
            let $id = $ville.val();
            console.log($id);
            let $url = '{{ path('sortie_villeSansID' ) }}' + '/' + $id;
            console.log($url);
            $.ajax({
                url: $url,
                method: "GET",
                complete: function (response){
                    let nouveauCodePostal = $("<div></div>");

                    if($firstPassageVille) {
                        nouveauCodePostal.text('Code postal : ' + response.responseJSON.codePostal);
                        nouveauCodePostal.attr("id","codePostal");
                        nouveauCodePostal.prependTo($(".affichage"));
                        $firstPassageVille = false;
                    } else {
                        $("#codePostal").text('Code postal : ' + response.responseJSON.codePostal);
                    }
                }
            });
        });

        $(document).on('change', '#sortie_lieu', function() {

            let $lieu = $('#sortie_lieu');
            let $id = $lieu.val();

            let $url = '{{ path('sortie_lieuSansID' ) }}' + '/' + $id;

            $.ajax({
                url: $url,
                method: "GET",
                complete: function (response){
                    let nouvelleRue = $("<div></div>");
                    let nouvelleLatitude = $("<div></div>");
                    let nouvelleLongitude = $("<div></div>");

                    if($firstPassageLieu) {
                        nouvelleRue.text('Rue : ' + response.responseJSON.rue);
                        nouvelleRue.attr('id', 'rue');
                        nouvelleRue.prependTo($(".affichageCoordoner"));

                        nouvelleLatitude.text('Latitude : ' + response.responseJSON.latitude);
                        nouvelleLatitude.attr('id', 'latitude');
                        nouvelleLatitude.appendTo($(".affichageCoordoner"));

                        nouvelleLongitude.text('Longitude : ' + response.responseJSON.longitude);
                        nouvelleLongitude.attr('id', 'longitude');
                        nouvelleLongitude.appendTo($(".affichageCoordoner"));

                        $firstPassageLieu =  false;
                    }else{
                        $("#rue").text('Rue : ' + response.responseJSON.rue);
                        $("#latitude").text('Latitude : ' + response.responseJSON.latitude);
                        $("#longitude").text('Longitude : ' + response.responseJSON.longitude);
                    }
                }
            });
        });

    </script>
{% endblock %}
