{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}

{% block body %}
    <div>
        {{ form_start(sortieForm) }}

        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.infosSortie) }}
        <div>Campus : {{ app.user.estRattacheA.nom }}</div>
        {{ form_row(sortieForm.ville) }}
        <div class="ajout_lieu">
            {{ form_row(sortieForm.lieu) }}
            <a href="{{ path('lieu_ajout') }}"><img src="{{ asset('images/img_ajout_lieu.png') }}" alt="signe + pour ajout lieu"></a>
        </div>
        <div class="affichage">

        </div>

        <button>Enregistrer</button>
        <button>Publier la sortie</button>
        <button>Annuler</button>

        {{ form_end(sortieForm) }}

    </div>

    <script>
        let $ville = $('#sortie_ville');
        let $firstVille = true;
        console.log('entrée fonction ' + $firstVille);

        $ville.change(function() {

            console.log('entrée change ' + $firstVille);

            let $form = $(this).closest('form');

            let data = {};
            data[$ville.attr('name')] = $ville.val();

            $.ajax({
                url : $form.attr('action'),
                type : $form.attr('method'),
                data : data,
                complete: function(html) {
                    $('#sortie_lieu').replaceWith(
                        $(html.responseText).find('#sortie_lieu')
                    );
                },
            });
            let $id = $ville.val();
            console.log($id);
            let $url = '{{ path('sortie_villeSansID' ) }}' + '/' + $id;
            console.log($url);
            $.ajax({
                url: $url,
                method: "GET",
                complete: function (response){
                    let nouveauCodePostal = $("<div></div>");
                    console.log('avant test ' + $firstVille);
                    if($firstVille) {
                        nouveauCodePostal.text('Code postal : ' + response.responseJSON.codePostal);
                        nouveauCodePostal.attr("id","codePostal");
                        nouveauCodePostal.prependTo($(".affichage"));
                        $firstVille = false;
                    } else {
                        $("#codePostal").text('Code postal : ' + response.responseJSON.codePostal);
                    }
                }
            });

            console.log('sortie change ' + $firstVille);
        });

        $(document).on('change', '#sortie_lieu', function() {

            let $lieu = $('#sortie_lieu');
            let $id = $lieu.val();

            let $url = '{{ path('sortie_lieuSansID' ) }}' + '/' + $id;

            $.ajax({
                url: $url,
                method: "GET",
                complete: function (response){
                    let rueReturn = 'Rue : ' + response.responseJSON.rue;
                    let latitudeReturn = 'Latitude : ' + response.responseJSON.latitude;
                    let longitudeReturn = 'Longitude : ' + response.responseJSON.longitude;

                    let nouvelleRue = $("<div></div>");
                    nouvelleRue.text(rueReturn);
                    nouvelleRue.addClass('rue');
                    nouvelleRue.prependTo($(".affichage"));

                    let nouvelleLatitude = $("<div></div>");
                    nouvelleLatitude.text(latitudeReturn);
                    nouvelleRue.addClass('latitude');
                    nouvelleLatitude.appendTo($(".affichage"));

                    let nouvelleLongitude = $("<div></div>");
                    nouvelleLongitude.text(longitudeReturn);
                    nouvelleRue.addClass('longitude');
                    nouvelleLongitude.appendTo($(".affichage"));
                }
            });
        });

    </script>
{% endblock %}
