{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}

{% block body %}
    <div>
        {{ form_start(sortieForm) }}

        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.infosSortie) }}
        <p>Campus : {{ app.user.estRattacheA.nom }}</p>
        {{ form_row(sortieForm.ville) }}
        {{ form_row(sortieForm.lieu) }}





        {{ form_row(sortieForm.codePostal) }}

        <button>Enregistrer</button>
        <button>Publier la sortie</button>
        <button>Annuler</button>

        {{ form_end(sortieForm) }}

        {#
        <p>Rue : {{ rue }} </p>
       <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
       <p>Latitude : {{ latitude }}</p>
       <p>Longitude : {{ longitude }}</p>
        #}


    </div>

    <script>
        let $ville = $('#sortie_ville');

        $ville.change(function() {

            let $form = $(this).closest('form');

            let data = {};
            data[$ville.attr('name')] = $ville.val();

            console.log($ville.val());

            $.ajax({
                url : $form.attr('action'),
                type : $form.attr('method'),
                data : data,
                complete: function(html) {
                    $('#sortie_lieu').replaceWith(
                        $(html.responseText).find('#sortie_lieu')
                    );
                    $('#sortie_codePostal').replaceWith(
                        $(html.responseText).find('#sortie_codePostal')
                    );
                }

            });
        });


        $(document).on('change', '#sortie_lieu', function() {
        let $lieu = $('#sortie_lieu');

            let $id = $lieu.val();
            let data = {};
            data[$lieu.attr('name')] = $lieu.val();

            console.log($lieu.val());

            $.ajax({
                url : 'http://127.0.0.1:8000/sortie/lieu/{$id}',
                type : POST,
                data : data,
                autocomplete: function (html) {


                }
            })


        });

    </script>
{% endblock %}
