{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}

{% block body %}
    <div class="sortie">
        {{ form_start(sortieForm) }}

        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.infosSortie) }}
        <div>Campus : {{ app.user.estRattacheA.nom }}</div>
        {% if  sortie.id > 0 %}
            {{ form_row(sortieForm.ville, {'value' : ville.id}) }}
        {% else %}
            {{ form_row(sortieForm.ville) }}
        {% endif %}

        <div class="ajout_lieu">
            {{ form_row(sortieForm.lieu) }}
            <a href="{{ path('lieu_ajout') }}"><img src="{{ asset('images/img_ajout_lieu.png') }}" alt="signe + pour ajout lieu"></a>
        </div>


        {% if sortie.lieu %}
            <div class="adresseActuelle">
                <p>Rue : {{ sortie.lieu.rue }}</p>
                <p>Code Postal : {{ sortie.lieu.ville.codePostal }}</p>
                <p>Latitude : {{ sortie.lieu.latitude }}</p>
                <p>Longitude : {{ sortie.lieu.longitude }}</p>
            </div>
            <p id="nouvelleAdresse">La nouvelle adresse est:</p>
        {% endif %}


        <div class="affichageCoordoner">

        </div>

        <button class="btn">Enregistrer</button>
        <button class="btn">Publier la sortie</button>
        <button class="btn">Annuler</button>

        {{ form_end(sortieForm) }}

    </div>

    <script>
        let $ville = $('#sortie_ville');
        let $firstPassageVille = true;
        let $firstPassageLieu = true;

        $ville.change(function() {

            let $form = $(this).closest('form');
            console.log($form.attr('action'),)

            let data = {};
            data[$ville.attr('name')] = $ville.val();
            console.log(data);
            console.log($form.attr('action'),)

            $.ajax({
                url : $form.attr('action'),
                type : $form.attr('method'),
                data : data,
                complete: function(html) {
                    console.log(html);
                    console.log($(html.responseText).find('#sortie_lieu'));
                    $('#sortie_lieu').replaceWith(
                        $(html.responseText).find('#sortie_lieu')
                    );
                    console.log($(html.responseText).find('#sortie_lieu'));
                },
            });
            let $id = $ville.val();
            console.log($id);
            let $url = '{{ path('sortie_villeSansID' ) }}' + '/' + $id;

            console.log($url);
            $.ajax({
                url: $url,
                method: "GET",
                complete: function (response){
                    let nouveauCodePostal = $("<div></div>");

                    if($firstPassageVille) {
                        nouveauCodePostal.text('Code postal : ' + response.responseJSON.codePostal);
                        nouveauCodePostal.attr("id","codePostal");
                        nouveauCodePostal.prependTo($(".affichageCoordoner"));
                        $firstPassageVille = false;
                    } else {
                        $("#codePostal").text('Code postal : ' + response.responseJSON.codePostal);
                    }
                }
            });
        });

        $(document).on('change', '#sortie_lieu', function() {

            let $lieu = $('#sortie_lieu');
            let $id = $lieu.val();

            let $url = '{{ path('sortie_lieuSansID' ) }}' + '/' + $id;

            $.ajax({
                url: $url,
                method: "GET",
                complete: function (response){
                    let nouvelleRue = $("<div></div>");
                    let nouvelleLatitude = $("<div></div>");
                    let nouvelleLongitude = $("<div></div>");

                    if($firstPassageLieu) {
                        nouvelleRue.text('Rue : ' + response.responseJSON.rue);
                        nouvelleRue.attr('id', 'rue');
                        nouvelleRue.prependTo($(".affichageCoordoner"));

                        nouvelleLatitude.text('Latitude : ' + response.responseJSON.latitude);
                        nouvelleLatitude.attr('id', 'latitude');
                        nouvelleLatitude.appendTo($(".affichageCoordoner"));

                        nouvelleLongitude.text('Longitude : ' + response.responseJSON.longitude);
                        nouvelleLongitude.attr('id', 'longitude');
                        nouvelleLongitude.appendTo($(".affichageCoordoner"));

                        $firstPassageLieu =  false;
                    }else{
                        $("#rue").text('Rue : ' + response.responseJSON.rue);
                        $("#latitude").text('Latitude : ' + response.responseJSON.latitude);
                        $("#longitude").text('Longitude : ' + response.responseJSON.longitude);
                    }
                }
            });
        });

    </script>
{% endblock %}
