{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}

{% block body %}
    <div>
        {{ form_start(sortieForm) }}

        {{ form_row(sortieForm.nom) }}
        {{ form_row(sortieForm.dateHeureDebut) }}
        {{ form_row(sortieForm.dateLimiteInscription) }}
        {{ form_row(sortieForm.nbInscriptionsMax) }}
        {{ form_row(sortieForm.duree) }}
        {{ form_row(sortieForm.infosSortie) }}
        <p>Campus : {{ app.user.estRattacheA.nom }}</p>
        {{ form_row(sortieForm.ville) }}
        {{ form_row(sortieForm.lieu) }}




        {{ form_row(sortieForm.codePostal) }}

        <button>Enregistrer</button>
        <button>Publier la sortie</button>
        <button>Annuler</button>

        {{ form_end(sortieForm) }}

        {#
        <p>Rue : {{ sortie.lieu.rue }}</p>
        <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
        <p>Latitude : {{ sortie.lieu.latitude }}</p>
        <p>Longitude : {{ sortie.lieu.longitude }}</p>
        #}


    </div>

    <script>
        let $ville = $('#sortie_ville');

        $ville.change(function() {

            let $form = $(this).closest('form');

            let data = {};
            data[$ville.attr('name')] = $ville.val();

            $.ajax({
                url : $form.attr('action'),
                type : $form.attr('method'),
                data : data,
                complete: function(html) {
                    $('#sortie_lieu').replaceWith(
                        $(html.responseText).find('#sortie_lieu')
                    );
                    $('#sortie_codePostal').replaceWith(
                        $(html.responseText).find('#sortie_codePostal')
                    );
                }
            });
        });

        let $lieu = $('#sortie_lieu');

        $lieu.change(function() {

            let dateAEnvoyer = $lieu.val();

            console.log("data:" + dateAEnvoyer);

            $.ajax(

            )
        });

        console.log($lieu);
    </script>
{% endblock %}
