<nav>
            <div class="hidden">
                {% if is_granted("ROLE_ADMIN") %}
                    <a href="{{ path('ville_index' )}}" title="villes">Villes | </a>
{#                    <a href="{{ path('profile_register')}}" title="Campus">Campus | </a>#}
                    <a href="{{ path('profile_register')}}" title="s'inscrire">Inscrire un autre utilisateur |  </a>
                {% endif %}
                <a href="{{ path('main_home' )}}" title="Accueil">Accueil | </a>
            </div>
            {% if app.user %}
                <div class="hidden">
                    <a href="{{ path('profile_update')}}" title="profil"> Mon profil | </a>
                </div>
                <a href="{{ path('app_logout')}}" title="déconnexion"> Déconnexion | ({{ app.user.pseudo }})</a>
            {% else %}
                <a href="{{ path('app_login')}}" title="se connecter"> Connexion | </a>
                <div class="hidden">
                    <a href="{{ path('profile_register')}}" title="s'inscrire"> S'inscrire | </a>
                </div>
            {% endif %}

</nav>